.footer-container {
  background: rgb(32, 56, 66);
  background: linear-gradient(
    0deg,
    rgba(32, 56, 66, 1) 36%,
    rgba(0, 0, 0, 1) 88%
  );
  color: aliceblue;
  font-family: 'Ubuntu', sans-serif;


}
.footer-section{
    border-bottom: 1px solid white;
  
}
.footer-section-title{
    margin-right: auto;
    width: 40%;
    font-size: 1.1rem;
    font-weight: 500;
}
.footer-section-list{
    margin-left: auto;
    width: 60%;
    font-size: 0.9rem;
    font-weight: 100;
}
.footer-section-list > ul >li{
    margin: 0 ;
    margin-bottom: 1em;
}
.footer-section-title-final > p {
    font-size: 0.8rem;
}
@media (min-width: 570px) {
   
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    grid-template-areas: 
    "navegacion nosotros wachitoroll"
    "author author author";
    
}    
.footer-section{
    flex-direction: column;
    align-items: center;
   
}


.footer-section-title{
    width: 100%;
    text-align: left;
}
.footer-section-title > p{
    width: 100%;
 }
.footer-section-list{
    margin: 0;
    width: 100%;
}
.footer-section-list > ul{
    padding: 0;
    text-align: left;
    
    
}
.navegacion{
    grid-area: navegacion;

}
.nosotros {
    grid-area: nosotros;

}
.wachitoroll {
    grid-area: wachitoroll;
}
.author {
    grid-area : author;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
    margin: 0;
    border: none;
}
.footer-section-title-final{
    width: 100%;
}
.author > .footer-section-list {
    width: 100%;
    height: 100%;
}
.author > .footer-section-list > ul{
    text-align: right;
    font-size: 1.2rem;
}
}