.search-container {
  padding-top: 3em;

  background-color: #141519;
  color: aliceblue;
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 3em;
}
.search-container > input {
  width: 95%;
  margin: 0.5em;

  padding-right: 0.5em;
  border: 0;
  background-color: #141519;
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: 1px solid orange;
}

input[type="search"]:focus {
  outline: none; /* remove the default orange outline */
  border-bottom: 1px solid orange; /* replace with your desired focus border style */
}
.search-title {
  margin: 1.8em 0.7em;
  font-size: 1.2rem;
  font-weight: 600;
}
.result-card-container {
  max-height: 165px;
  min-height: 165px;
  
}
.result-card-img img {
  max-height: 165px;
  min-height: 165px;
  /* max-width: 50vw;
    min-width: 50vw; */
  max-width: 100px;
  min-width: 100px;
}
.result-card-info {
  font-size: 0.9rem;
  max-width: 200px;
  min-width: 200px;
}
.result-card-info > p {
  margin: 0;
  font-weight: 500;
}
.result-episodes {
  color: #919da0;
}
.result-type {
  color: #0e9caf;
}
.search-result {
  margin-bottom: 4em;
}

@media (min-width: 560px) {
  .search-result {
    flex-wrap: wrap;
    flex-grow: 1;

    flex-direction: row;
  }
}
