.user-container {
  width: 100%;
  background-color: #000000;
  position: relative;
}
.userBannerContainer{
  width: 100%;
}
.userBanner{
  width: 100%;
}
.user-img {
  width: 50%;
  max-width: 200px;
  min-width: 100px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
.userBodyContainer{
  color: aliceblue;
  margin-left: 22em;
  margin-right: 22em;
}

