.user-container {
  width: 100%;
  background-color: #000000;
  position: relative;
  font-family: "Ubuntu", sans-serif;
}
.userBannerContainer{
  width: 100%;
}
.userBanner{
  width: 100%;
}
.user-img {
  width: 50%;
  max-width: 200px;
  min-width: 100px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}
.userBodyContainer{
  color: aliceblue;
  width: 100%;
}
.userNavigation{
  width: 100%;

}
.configurationList{
  width: 20%;
}
.accountContent{
  background-color: #191a1e;
  width: 40%;
}